<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: head('Roll Dice')"></head>
<body >
<nav th:replace="/partials/navbar :: navbar"></nav>
<div class="text-center">
    <h1>Roll The Dice And Guess The Roll</h1>
    <h2>Which number will the dice fall on?</h2>
</div>

<form class="text-center" action="/roll-dice" method="post">
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/1}" role="button">1</a>
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/2}" role="button">2</a>
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/3}" role="button">3</a>
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/4}" role="button">4</a>
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/5}" role="button">5</a>
    <a type="submit" class="btn btn-primary" th:href="@{/roll-dice/6}" role="button">6</a>
</form>
<div class="text-center">
    <h5><span th:text="${correctRoll}"></span> </h5>
    <h5><span th:text="${incorrectRoll}"></span> </h5>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>

